<section>
    <div id="titulo">
  
        <link href="../presentacion/presentacion.component.css" rel="stylesheet"rel="noopener">
    
        <p id="a"><a id="b">HORIZON</a></p>
    

    
    </div>
</section>

<!-- Start Banner Hero -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Sobre nosotros</h1>
                <p class="light-300">
                    Nuestro equipo de desarrollo en formación, dispuestos a asumir retos corporativos y emprendimientos a nivel de desarrollo de aplicaciones web.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/banner-img-02.svg" alt="nuestro equipo">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->

<!-- Start Team Member -->
<section class="container py-5">
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

        <div class="col-lg-3">
            <h2 class="h2 py-5 typo-space-line">Nuestro equipo</h2>
            <p class="text-muted light-300">
                Equipo de desarrollo web Full Stack Horizon.
            </p>
        </div>
        <br>
        <br>

        <div class="col-lg-9 row">
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/team-01.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Juan Camilo</li>
                    <li>Development Full Stack</li>
                </ul>
            </div>
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/team-02.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Saray Menco</li>
                    <li>Development Full Stack</li>
                </ul>
            </div>
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/team-03.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Frank</li>
                    <li>Developer Full Stack</li>
                </ul>
            </div>
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/team-04.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Ivan Andres Trujillo Gutiérrez</li>
                    <li>Developer Full Stack</li>
                </ul>
            </div>
        </div>


    </div>
    <!-- Start Choice -->
<section class="why-us banner-bg bg-light">
    <div class="container my-2">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="./assets/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">Porque escogernos?</h2>
                <p class="text-muted pb-5 light-300">
                You are allowed to download and use this Purple Buzz template for your websites. You are <strong>not allowed</strong> to re-distribute this template ZIP file on other template websites. It is quite easy to simply copy and repost the ZIP file on any websites.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Choice -->
<!-- Start Aim -->
<section class="banner-bg bg-white py-5">
    <div class="container my-2">
        <div class="row text-center">

            <div class="objective col-lg-3">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-bulb text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Visión</h2>
                <p class="light-300">
                    Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class='display-4 bx bx-revision text-light'></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Misión</h2>
                <p class="light-300">
                    Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam quis.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-select-multiple text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Meta</h2>
                <p class="light-300">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- End Aim -->

<section>
    <div id="presentacion" class="float-rigth">
        <iframe src="https://laiberocol-my.sharepoint.com/personal/itrujill_ibero_edu_co/_layouts/15/Doc.aspx?sourcedoc={1931750d-587d-46f4-8529-e11b21ce775c}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="1000px" height="500px" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>

</section>


    <br>
    <br>
    <div class="float-right">
        <button type="button" class="btn btn-primary" routerLink="/home">IR AL HOME</button>
    </div>
</section>
<!-- End Team Member -->