<!-- Start Recent Work -->
<section class="py-5 mb-5">
  <div class="container" id="servicios">
      <div class="recent-work-header row text-center pb-5">
        <h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-3">Servicios</h1>
        <br>
        <p class="lead">Siendo miembro de <strong>HORIZON</strong> podrás acceder a los siguientes servicios una vez
          ingreses a la página. 
        </p>
      </div>
      <div class="row gy-5 g-lg-5 mb-4">

          <!-- Inicio servicio -->
          <div class="col-md-4 mb-3">
              <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                  <img class="recent-work-img card-img" src="./assets/img/img4.jpg" alt="Card image">
                  <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                      <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                          <h3 class="card-title light-300">Administración</h3>
                          <p class="card-text">Si eres residente paga la cuota de administración de tu conjunto, accede a tu historial de pago. Si 
                            haces parte del staff podrás acceder a registros de pago e informes de tu conjunto.</p>
                      </div>
                  </div>
              </a>
          </div><!-- Final servicio -->

          <!-- Inicio servicio -->
          <div class="col-md-4 mb-3">
              <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                  <img class="recent-work-img card-img" src="./assets/img/img5.jpeg" alt="Card image">
                  <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                      <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                          <h3 class="card-title light-300">Reserva de áreas comunes</h3>
                          <p class="card-text">Administra las reservaciones de las áreas locales de tu conjunto, podrás elegir la fecha de tu preferencia
                            indicando la hora. Si eres mienbro staff podrás consultar todo el itinerario y reservaciones hechas por tus clientes.</p>
                      </div>
                  </div>
              </a>
          </div><!-- Final servicio -->

          <!-- Inicio servicio -->
          <div class="col-md-4 mb-3">
              <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                  <img class="recent-work-img card-img" src="./assets/img/img6.jpg" alt="Card image">
                  <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                      <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                          <h3 class="card-title light-300">Citas con administración</h3>
                          <p class="card-text">En este módulo podrás crear una solicitud para poder reunirte con la administración de tu
                            conjunto.</p>
                      </div>
                  </div>
              </a>
          </div><!-- Final servicio -->

          <!-- Inicio servicio -->
          <div class="col-md-4 mb-3">
              <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                  <img class="recent-work-img card-img" src="./assets/img/img7.jpg" alt="Card image">
                  <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                      <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                          <h3 class="card-title light-300">Comunicados</h3>
                          <p class="card-text">¡Que nada te tome por sorpresa! Si eres residente podrás mantenerte informado de 
                            cualquier comunicado o novedad de tu conjunto. Si eres miembro del staff podrás crear boletines para
                            que toda la comunidad pueda estar informada.</p>
                      </div>
                  </div>
              </a>
          </div><!-- Final servicio -->

          <!-- Inicio servicio -->
          <div class="col-md-4 mb-3">
              <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                  <img class="recent-work-img card-img" src="./assets/img/img8.jpg" alt="Card image">
                  <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                      <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                          <h3 class="card-title light-300">Asambleas (próximamente)</h3>
                          <p class="card-text">Ingresa y/o crea (según tu pérfil) las reuniones de tu conjunto de forma virtual.</p>
                      </div>
                  </div>
              </a>
          </div><!-- Final servicio -->

          <!-- inicio servicio -->
          <div class="col-md-4 mb-3">
              <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                  <img class="recent-work-img card-img" src="./assets/img/img9.jpg" alt="Card image">
                  <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                      <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                          <h3 class="card-title light-300">Contabilidad (próximamente)</h3>
                          <p class="card-text">Explore junto a HORIZON un mundo de posibilidades de gestión.</p>
                      </div>
                  </div>
              </a>
          </div><!-- Final servicio -->

      </div>
  </div>
</section>
<!-- Servicios -->










<!-- 
<div id="servicios" class="">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-3">Servicios</h1>
            <p class="lead">Siendo miembro de <strong>HORIZON</strong> podrás acceder a los siguientes servicios una vez
              ingreses a la página. 
            </p>
  
            <div class="row row-cols-1 row-cols-md-3">
              <div class="col mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Administración</h5>
                    <p class="card-text">Si eres residente paga la cuota de administración de tu conjunto, accede a tu historial de pago. Si 
                      haces parte del staff podrás acceder a registros de pago e informes de tu conjunto. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Reserva de áreas comunes</h5>
                    <p class="card-text">Administra las reservaciones de las áreas locales de tu conjunto, podrás elegir la fecha de tu preferencia
                      indicando la hora. Si eres mienbro staff podrás consultar todo el itinerario y reservaciones hechas por tus clientes. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Citas con administración</h5>
                    <p class="card-text">En este módulo podrás crear una solicitud para poder reunirte con la administración de tu
                      conjunto.
                    </p>
                  </div>
                </div>
              </div>
  
  
              <div class="col mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Comunicados</h5>
                    <p class="card-text">¡Que nada te tome por sorpresa! Si eres residente podrás mantenerte informado de 
                      cualquier comunicado o novedad de tu conjunto. Si eres miembro del staff podrás crear boletines para
                      que toda la comunidad pueda estar informada.  
                    </p>
                  </div>
                </div>
              </div>
  
              <div class="col mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Asambleas (próximamente)</h5>
                    <p class="card-text">Ingresa y/o crea (según tu pérfil) las reuniones de tu conjunto de forma virtual.</p>
                  </div>
                </div>
              </div>
  
  
              <div class="col mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Contabilidad (próximamente)</h5>
                    <p class="card-text">Administra y reporta todos los gastos hechos en tu conjunto.* <br>
                        <small>*Aplica solo para miembro del staff.</small>
                    </p>
                  </div>
                </div>
              </div>
  
            </div>
            
          </div>
          
        </div>
  
      </div> -->